
  .spanText {
    margin: 3px;
    margin-left: 10px; 
    display: inline-block;
    width: 100px;
    word-wrap: break-word;    
  }

  .strikeThrough{
    text-decoration: line-through;
  }

  .deleteBtn {
    margin: 30px;
  }
  